* {
  font-family: sans-serif; }

html {
  background: rgba(0, 0, 0, 0.7) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin: 0;
  padding: 0; }

#navigation {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: black;
  width: 100%;
  padding: 20px 0; }
  #navigation .navbar {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0; }
    #navigation .navbar .navbar-header {
      float: left;
      padding: 0 20px 0 10px; }
      #navigation .navbar .navbar-header a {
        text-decoration: none;
        color: white;
        font-family: Courier;
        font-size: 20px;
        line-height: 20px; }
    #navigation .navbar .navbar-list ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #navigation .navbar .navbar-list ul li {
        float: right;
        margin: 0;
        padding: 0 20px 0 0; }
        #navigation .navbar .navbar-list ul li a {
          text-decoration: none;
          color: white;
          font-family: Courier;
          font-size: 17px; }

.title {
  position: absolute;
  top: 235px;
  width: 100%; }
  .title h1 {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Courier;
    text-shadow: 10px 10px 5px black;
    font-size: 50px; }

.header-background {
  width: 100%; }

#search {
  position: absolute;
  top: 500px;
  width: 100%; }
  #search #introduction .container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px; }
    #search #introduction .container p {
      color: white;
      padding: 10px;
      margin: 0;
      font-size: 18px;
      float: left; }
    #search #introduction .container input {
      padding: 10px;
      font-size: 16px;
      width: 250px;
      border-radius: 8px; }
    #search #introduction .container .sorting {
      position: absolute;
      float: right;
      top: 25px;
      right: 25px; }
      #search #introduction .container .sorting p {
        font-size: 18px;
        margin: 0;
        padding: 0 10px 0 0; }
      #search #introduction .container .sorting .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        float: left;
        color: white; }
      #search #introduction .container .sorting .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em; }
      #search #introduction .container .sorting .rating > span:hover,
      #search #introduction .container .sorting .rating > span:hover ~ span {
        color: transparent; }
      #search #introduction .container .sorting .rating > span:hover:before,
      #search #introduction .container .sorting .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold; }
  #search #restaurantsCollection .restaurantsContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0; }
    #search #restaurantsCollection .restaurantsContainer .collection {
      position: relative;
      margin: 10px;
      display: block;
      background-color: whitesmoke;
      float: left;
      line-height: 1px;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.9); }
      #search #restaurantsCollection .restaurantsContainer .collection a {
        text-decoration: none;
        color: black; }
      #search #restaurantsCollection .restaurantsContainer .collection h4, #search #restaurantsCollection .restaurantsContainer .collection p {
        margin-left: 10px; }
      #search #restaurantsCollection .restaurantsContainer .collection .rating_img {
        margin-left: 10px; }
      #search #restaurantsCollection .restaurantsContainer .collection .fa.fa-heart-o.fa-lg {
        position: absolute;
        bottom: 10px;
        right: 10px; }
      #search #restaurantsCollection .restaurantsContainer .collection .fa.fa-heart.fa-lg {
        position: absolute;
        bottom: 10px;
        right: 10px; }
      #search #restaurantsCollection .restaurantsContainer .collection .change-icon > .fa:nth-child(2) {
        display: none; }
      #search #restaurantsCollection .restaurantsContainer .collection .change-icon:hover > .fa:nth-child(1) {
        display: none; }
      #search #restaurantsCollection .restaurantsContainer .collection .change-icon:hover > .fa:nth-child(2) {
        display: inherit; }
    #search #restaurantsCollection .restaurantsContainer .collection:hover {
      -webkit-transform: scale(1.025);
      box-shadow: 0 3px 25px #000; }

#favorites {
  position: absolute;
  top: 100px;
  width: 100%; }
  #favorites .header {
    max-width: 1280px;
    margin: 0 auto 28px;
    padding: 1px;
    line-height: 10px;
    background-color: rgba(0, 0, 0, 0.7); }
    #favorites .header p {
      text-align: center;
      font-size: 30px;
      font-family: Courier;
      color: white; }
  #favorites .favoritesContainer {
    max-width: 1280px;
    margin: 0 auto; }
    #favorites .favoritesContainer .collection {
      position: relative;
      margin: 10px;
      display: block;
      background-color: whitesmoke;
      float: left;
      line-height: 1px;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.9); }
      #favorites .favoritesContainer .collection a {
        text-decoration: none;
        color: black; }
      #favorites .favoritesContainer .collection h4, #favorites .favoritesContainer .collection p {
        margin-left: 10px; }
      #favorites .favoritesContainer .collection .rating_img {
        margin-left: 10px; }
      #favorites .favoritesContainer .collection .fa.fa-heart-o.fa-lg {
        position: absolute;
        bottom: 10px;
        right: 10px; }
      #favorites .favoritesContainer .collection .fa.fa-heart.fa-lg {
        position: absolute;
        bottom: 10px;
        right: 10px; }
      #favorites .favoritesContainer .collection .change-icon > .fa:nth-child(1) {
        display: none; }
      #favorites .favoritesContainer .collection .change-icon:hover > .fa:nth-child(2) {
        display: none; }
      #favorites .favoritesContainer .collection .change-icon:hover > .fa:nth-child(1) {
        display: inherit; }
    #favorites .favoritesContainer .collection:hover {
      -webkit-transform: scale(1.025);
      box-shadow: 0 3px 25px #000; }

/*# sourceMappingURL=main.css.map */
